# 부록 A-1 자료형

## 1.1 수 자료형

### 1.1.2 실수형

In [1]:
# 음의 실수
a = -1837.2
print(a)

-1837.2

In [2]:
# 소수부가 0일 때 0을 생략
a = 5.
print(a)

5.0

In [3]:
# 정수부가 0일 때 0을 생략
a = -.7
print(a)

-0.7

In [4]:
# 10억의 지수 표현 방식
a = 1e9
print(a)

1000000000.0

In [5]:
# 752.5
a = 75.25e1
print(a)

752.5

In [6]:
# 3.954
a = 3954e-3
print(a)

3.954

In [7]:
# round함수 이용
a = 0.3 + 0.6
print("round함수 이용 :", round(a,4))
if round(a,4) == 0.9:
	print(True)
else: 
	print(False)

round함수 이용 : 0.9
True

### 1.1.3 수 자료형의 연산
* 꼭 알기
    * 몫 연산자 (//) : 나눈 결과에서 몫만 얻기

In [8]:
a,b = 7,3
# 나누기
print("a/b =", a/b)

# 나머지
print("a%b =", a%b)

# 몫
print("a//b =", a//b)

a/b = 2.3333333333333335
a%b = 1
a//b = 2

## 1.2 리스트 자료형

### 1.2.1 리스트 만들기

In [9]:
# 예제 : 1~9까지 모든 정수 데이터를 담는 리스트를 만든 다음 특정한 인덱스의 원소에 접근해 출력
a = [1,2,3,4,5,6,7,8,9]
print("a :", a)

# 인덱스 4에 접근(5번째 원소)
print("a[4] :", a[4])

# 빈 리스트 선언 방법 1
a = list()
print("a :", a)

# 빈 리스트 선언 방법 2
a = []
print("a :", a)

a : [1, 2, 3, 4, 5, 6, 7, 8, 9]
a[4] : 5
a : []
a : []

In [10]:
# 크기 N, 모든 값이 0인 1차원 리스트 초기화
n = 10
a = [0]*n
print("a :", a)

a : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### 1.2.2 리스트의 인덱싱과 슬라이싱

In [11]:
# 인덱싱으로 특정 원소 접근 후 값 변경
a = [1,2,3,4,5,6,7,8,9]

# 뒤에서 1번째 원소 출력
print(a[-1])

# 뒤에서 3번째 원소 출력
print(a[-3])

# 4번째 원소 값 변경
a[3] = 7
print("a :", a)

9
7
a : [1, 2, 3, 7, 5, 6, 7, 8, 9]

In [12]:
# 2~4번째 원소 출력
a = [1,2,3,4,5,6,7,8,9]
print(a[1:4])

[2, 3, 4]

### 1.2.3 리스트 컴프리헨션

In [13]:
# 0부터 19까지 수 중 홀수만 포함
array = [i for i in range(20) if i%2 == 1]
print("array :", array)

array : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
# 1부터 9까지 수의 제곱 값을 포함
array = [i * i for i in range(1,10)]
print("array :", array)

array : [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# N * M 크기의 2차원 리스트 초기화
# for문의 언더바(_) : 반복을 수행하되 반복을 위한 변수 값 무시
n,m=3,4
array = [[0]*m for _ in range(n)]
print("array :", array)

array : [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

* 특정 크기의 2차원 리스트 초기화 시 반드시 리스트 컴프리헨션 이용

In [16]:
# 잘못된 방법
# 원인 : 내부적으로 포함된 3개의 리스트가 모두 동일한 객체에 대한 3개의 레퍼런스로 인식되기 때문(리스트 밖에서 n을 곱했다)
n,m = 3,4
array = [[0] * m] * n
print("array :", array)

array[1][1] = 5
print("array :", array)

array : [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
array : [[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

### 1.2.4 리스트 관련 기타 메소드

In [17]:
a = [1,4,3]
print("기본 리스트 :", a)

# 리스트에 원소 삽입
a.append(2)
print("2 삽입 :", a)

# 오름차순 정렬
a.sort()
print("오름차순 정렬 :", a)

# 내림차순 정렬
a.sort(reverse=True)
print("내림차순 정렬 :", a)

# 리스트 원소 뒤집기
a.reverse()
print("원소 뒤집기 :", a)

# 특정 인덱스에 데이터 추가
a.insert(2,5)
print("인덱스 2에 5 추가 :", a)

# 특정 값인 데이터 개수 세기
print("값이 3인 데이터 개수 :", a.count(3))

# 특정 값 데이터 삭제
a.remove(1)
print("값이 1인 데이터 삭제 :", a)

기본 리스트 : [1, 4, 3]
2 삽입 : [1, 4, 3, 2]
오름차순 정렬 : [1, 2, 3, 4]
내림차순 정렬 : [4, 3, 2, 1]
원소 뒤집기 : [1, 2, 3, 4]
인덱스 2에 5 추가 : [1, 2, 5, 3, 4]
값이 3인 데이터 개수 : 1
값이 1인 데이터 삭제 : [2, 5, 3, 4]

* 특정한 값의 원소 모두 제거

In [18]:
a = [1,2,3,4,5,5,5]
remove_set = [3,5] # {3,5}라고 해도 된다.

# remove_set에 포함되지 않은 값만을 저장
result = [i for i in a if i not in remove_set]
print("result :", result)

result : [1, 2, 4]

### 1.2.5 번외 : 리스트 복사

In [19]:
list1 = [1,2,3,4,5,6,7]
list2 = list1      # 얕은 복사
list3 = list1[::]  # 깊은 복사

# 수정 전
print("list2 : ", list2)
print("list3 : ", list3)

list1[0] = 8
list1[1] = 9

# 수정 후
print("list2 : ", list2)
print("list3 : ", list3)

list2 :  [1, 2, 3, 4, 5, 6, 7]
list3 :  [1, 2, 3, 4, 5, 6, 7]
list2 :  [8, 9, 3, 4, 5, 6, 7]
list3 :  [1, 2, 3, 4, 5, 6, 7]

## 1.3 문자열 자료형

### 1.3.1 문자열 초기화

In [20]:
data = 'hello world'
print(data)

# 백슬래시로 큰따옴표, 작은따옴표 여러 번 사용 가능
data = "Don't you know \"Python\"?"
print(data)

hello world
Don't you know "Python"?

### 1.3.2 문자열 연산

In [21]:
a = "Hello"
b = "World"
print(a + " " + b)

Hello World

In [22]:
# 문자열 곱하기 = 여러 번 더하기
a = "String"
print("a 3번 :", a*3)

a 3번 : StringStringString

In [23]:
# 문자열도 슬라이싱 가능
a = "ABCDEF"
print(a[2:4])

CD

## 1.4 튜플 자료형
* 한 번 선언된 값은 변경 불가
* 소괄호 이용 ()

In [24]:
# 튜플 변경 시도
a = (1,2,3,4)
print(a)
# a[2] = 7 -> 여기서 에러 발생

(1, 2, 3, 4)

## 1.5 사전 자료형

### 1.5.1 사전 자료형 소개
* 키, 값의 쌍을 데이터로 가지는 자료형
* 파이썬의 사전 자료형은 내부적으로 해시 테이블을 이용한다. → O(1) 시간 내 처리 가능 (리스트보다 빠름)

In [25]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'
print("data :", data)

if '사과' in data :
    print("'사과'를 키로 가지는 데이터가 존재합니다.")

data : {'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}
'사과'를 키로 가지는 데이터가 존재합니다.

### 1.5.2 사전 자료형 관련 함수
* `keys()` : 키 데이터만 뽑아서 리스트로 이용
* `values()` : 값 데이터만 뽑아서 리스트로 이용

In [26]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

# 키 데이터만 담은 리스트
key_list = data.keys()
# 값 데이터만 담은 리스트
value_list = data.values()
print(key_list)
print(value_list)

# 각 키에 따른 값을 하나씩 출력
for key in key_list :
    print("data[key] :", data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
data[key] : Apple
data[key] : Banana
data[key] : Coconut

## 1.6 집합 자료형 (Set)

### 1.6.1 집합 자료형 소개
* 집합 특징
    * 중복 허용 X
    * 순서 X → 인덱싱으로 값 획득 불가

In [27]:
# 집합 자료형 초기화 방법 1
data = set([1,1,2,3,4,4,5])
print("data :", data)

# 집합 자료형 초기화 방법 2
data = {1,1,2,3,4,4,5}
print("data :", data)

data : {1, 2, 3, 4, 5}
data : {1, 2, 3, 4, 5}

### 1.6.2 집합 자료형의 연산
* 합집합, 교집합, 차집합

In [28]:
a = set([1,2,3,4,5])
b = {3,4,5,6,7}

print("합집합 a|b :", a|b)
print("교집합 a&b :", a&b)
print("차집합 a-b :", a-b)

합집합 a|b : {1, 2, 3, 4, 5, 6, 7}
교집합 a&b : {3, 4, 5}
차집합 a-b : {1, 2}

### 1.6.3 집합 자료형 관련 함수

In [29]:
data = {1,2,3}
print("data :", data)

# 새로운 원소 추가
data.add(4)
print("data :", data)

# 새로운 원소 여러 개 추가
data.update([5,6])
print("data :", data)

# 특정한 값을 갖는 원소 삭제
data.remove(3)
print("data :", data)

data : {1, 2, 3}
data : {1, 2, 3, 4}
data : {1, 2, 3, 4, 5, 6}
data : {1, 2, 4, 5, 6}