# 부록 A-5 입출력
* 여러 개의 데이터 입력 받을 때
    * `list(map(int, input().split()))` 이용

* 입력을 위한 전형적인 소스 코드

In [1]:
# 데이터의 개수 입력
n = int(input())

# 각 데이터를 공백으로 구분해 입력
data = list(map(int, input().split()))

data.sort(reverse=True)
print("data :", data)

 5
 65 90 75 34 99

data : [99, 90, 75, 65, 34]

* 공백을 기준으로 구분해 적은 수의 데이터 입력
    * 예 : 첫째 줄에 n,m,k가 공백으로 구분될 경우

In [2]:
# n,m,k를 공백으로 구분해 입력
n,m,k = map(int, input().split())

print("n,m,k :", n, m, k)

 3 5 7

n,m,k : 3 5 7

* 입력 더 빠르게 받기
    * C++ : scanf
    * Python : sys.stdin.readline().rstrip()
        * rstrip은 readline()을 쓸 때 뒤에 붙는 엔터 기호 제거
        * Jupyter notebook/lab에서는 안 되는 듯 하다.

In [3]:
import sys
data = sys.stdin.readline().rstrip()
print(data)

* print()로 출력 시 변수를 콤마로 구분하면 띄어쓰기로 구분됨

In [4]:
a,b = 1,2
print(a,b)

1 2

* 문자열과 숫자를 함께 출력하려면 다른 방법 필요
* str()을 이용해 숫자 → 문자열 변경

In [5]:
# 출력할 변수들
answer = 7
print("정답은 " + str(answer) + "입니다.")
print("정답은", str(answer), "입니다.(콤마로 구분)")
print(f"정답은 {answer}입니다.(f-string 이용)")

정답은 7입니다.
정답은 7 입니다.(콤마로 구분)
정답은 7입니다.(f-string 이용)